# Dependency directories
node_modules/
.env

# # Logs
# logs
# *.log
# npm-debug.log*

# # Runtime data
# pids
# *.pid
# *.seed
# *.pid.lock

# # OS and IDE files
# .DS_Store
# Thumbs.db
# .vscode/
# .idea/
